/= form_for @pic do |f|
/  - if @pic.errors.any?
/    #error_explanation
/      %h2= "#{pluralize(@pic.errors.count, "error")} prohibited this pic from being saved:"
/      %ul
/        - @pic.errors.full_messages.each do |msg|
/          %li= msg
/
/  .field
/    = f.label :title
/    = f.text_field :title
/  .field
/    = f.label :description
/    = f.text_area :description
/  .actions
/    = f.submit 'Save'

= simple_form_for @pic, html: { multipart: true } do |f|
  - if @pic.errors.any?
    #errors
      %h2
      = pluralize(@pic.errors.count, "error")
      prevented this Pic from saving.
      
      %ul
        - @pic.errors.full_messages.each do |message|
          %li= message

  .form-group
    = f.input :title, input_html: { class: 'form-control' }
  .form-group
    = f.input :description, input_html: { class: 'form-control' }
    
  = f.button :submit, class: "btn btn-info"
  