/%p#notice= notice

#pic_show.row
  .col-md-6.col-md-offset-3
    .panel.panel-default
      .panel.heading.pic_image
      = image_tag @pic.image.url(:medium)
      .panel-body
        = @pic.title
        = @pic.description
      .panel-footer
        .row
          .col-md-6
            %p.user
            %b by
            = @pic.user.email
          .col.md-6
            .btn-group.pull-right
              = link_to like_pic_path(@pic), method: :put, class: "btn btn-default" do
                %i.fa.fa-thumbs-o-up.fa-5{"aria-hidden" => "true"}
                = @pic.get_upvotes.size
              -#= link_to dislike_pick_path(@pic), method: :put do
              -#  Downvote
              -#  \#{pic.get_downvotes.size}            
            
              - if user_signed_in?
                = link_to 'Back', pics_path, class: "btn btn-default"
                = link_to 'Edit', edit_pic_path(@pic), class: "btn btn-info"
                = link_to 'Delete', pic_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
